{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    {% if user.user_profile.first_name %}
        Welcome to your dashboard {{user.user_profile.first_name}}
    {% else %}
        Welcome to your dashboard {{user.user_profile.nickname}}
    {% endif %}
{% endblock title %}


{% block content %}
    {% for msg in messages %}
    <div class="error-div"><span>{{msg}}</span></div>
    {% endfor %}

    {% if user.user_profile.first_name %}
        <h1>Welcome to your dashboard {{user.user_profile.first_name}}</h1>
    {% else %}
        <h1>Welcome to your dashboard {{user.user_profile.nickname}}</h1>
    {% endif %}

    {% with total_images_created=paginator.count %}
        <p>Welcome to your dashboard. You have bookmarked 
        {{ total_images_created }} image{{ total_images_created|pluralize }}.</p>
    {% endwith %}

    <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → 
      <a href="javascript:{% include "images/bookmarklet_launcher.js" %}" class="button">Bookmark it</a>
    </p>
    <p>Or click here to upload a link manually → 
      <a href="{% url "images:image_create" %}">
        <button class="hover-btn">Bookmark</button>
      </a>
    </p>

    <div id="image-list-div">
      {% include "profiles/list_ajax.html" %}
    </div>

{% endblock content %}


{% block domready %}

var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function(data) {
            if(data == '') {
                empty_page = true;
            }
            else {
                block_request = false;
                $('#image-list-div').append(data);
                }
        });
    }

});

{% endblock domready %}