{% extends "base.html" %}

{% block title %}
{% if user.user_profile.first_name %}
    Welcome to your dashboard {{user.user_profile.first_name}}
{% elif user.user_profile.username  %}
    Welcome to your dashboard {{user.user_profile.username}}
{% else %}
    Welcome to your dashboard {{user.email}}
{% endif %}
{% endblock title %}


{% block content %}
{% for msg in messages %}
<div class="error-div"><span>{{msg}}</span></div>
{% endfor %}
{% if user.user_profile.first_name %}
    <h1>Welcome to your dashboard {{user.user_profile.first_name}}</h1>
{% elif user.user_profile.username  %}
    <h1>Welcome to your dashboard {{user.user_profile.username}}</h1>
{% else %}
    <h1>Welcome to your dashboard {{user.email}}</h1>
{% endif %}

{% with total_images_created=request.user.user_images.count %}

<p>Welcome to your dashboard. You have bookmarked 
{{ total_images_created }} image{{ total_images_created|pluralize }}.</p>

{% endwith %}

<p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → 
<a href="javascript:{% include "images/bookmarklet_launcher.js" %}" class="button">Bookmark it</a></p>
<p>You can also <a href="{% url "profiles:edit_profiles" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>

{% endblock content %}