{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    {% if user.user_profile.first_name %}
        Welcome to your dashboard {{user.user_profile.first_name}}
    {% else %}
        Welcome to your dashboard {{user.user_profile.nickname}}
    {% endif %}
{% endblock title %}


{% block content %}
    {% for msg in messages %}
    <div class="error-div"><span>{{msg}}</span></div>
    {% endfor %}

    {% if user.user_profile.first_name %}
        <h1>Welcome to your dashboard {{user.user_profile.first_name}}</h1>
    {% else %}
        <h1>Welcome to your dashboard {{user.user_profile.nickname}}</h1>
    {% endif %}

    {% with total_images_created=paginator.count %}
        <p>Welcome to your dashboard. You have bookmarked 
        {{ total_images_created }} image{{ total_images_created|pluralize }}.</p>
    {% endwith %}

    <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → 
      <a href="javascript:{% include "images/bookmarklet_launcher.js" %}" class="button">Bookmark it</a>
    </p>
    <p>Or click here to upload a link manually → 
      <a href="{% url "images:image_create" %}">
        <button class="hover-btn">Bookmark</button>
      </a>
    </p>

    <div id="image-list-div">
      {% include "profiles/list_ajax.html" %}
    </div>

{% endblock content %}


{% block domready %}

function btnAndScrool() {
    $(".dashboard-btn").click(function(e) {
    e.preventDefault();
    let obj = $(this).closest(".image").find("a").prop("href");
    obj = obj.split("/");
    let text = $(this).text().toLowerCase();
    if(text === "edit") {
      $.post("{% url "images:image_create" %}",
      {
        obj: obj[5],
        action: text
      },
      function(data) {
          if(data["status"]==="saved") {
              console.log(data);
          }
      })
      console.log("you can edit")
    }else if(text === "delete") {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        console.log(result)
        if (result.isConfirmed) {
          $.post("{% url "profiles:dashboard" %}",
          {
            obj: obj[5],
            action: text
          },
          function(data) {
            if(data["status"]==="deleted") {
              location.reload()
              console.log("i deleted")
            }
          })
          console.log("you can delete")
          Swal.fire(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
        }else if (result.dismiss === Swal.DismissReason.cancel) {
          Swal.fire(
            'Cancelled',
            'Your imaginary file is safe :)',
            'error'
            );
            console.log("cancelled");
          }
      })// end of swal
    };//end of if else
  });//close click function here

}//function declaration end

var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function(data) {
            if(data == '') {
                empty_page = true;
            }
            else {
                block_request = false;
                $('#image-list-div').append(data);
                btnAndScrool();   
            }
        });
    }
});//window select code end here
btnAndScrool();
{% endblock domready %}