{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <p>You are already logged in</p>
{% else %}
    <div class="form-wrapper">
      <form class="for-form" action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next  }}" />
        <div class="form-p">
          <div class="social">
            <ul>
              <li class="google">
                <a class="no-deco" href="{% url "social:begin" "google-oauth2" %}"><button class="hover-btn">Login with Google</a></button>
              </li>
              <li class="facebook">
                <a class="no-deco" href="{% url "social:begin" "facebook" %}"><button class="hover-btn">Sign in with Facebook</a></button>
              </li>
            </ul>
          </div>
          {% for msg in messages %}
          <div class="error-div"><span>{{msg}}</span></div>
          {% endfor %}
          <div class="form-input-container">
            <label for="id_username"><b>Username</b></label>
            <span class="user-span"><i class="far fa-user icon"></i><input type="text" placeholder=" Enter Username" name="username" required></span>
            
            <label for="id_password"><b>Password</b></label>
            <span class="user-span"><i class="fa fa-key icon"></i><input type="password" placeholder=" Enter Password" name="password" required></span>
          </div>
          <button class="hover-btn" type="submit", value="Login">Login</button>
          <a class="no-deco" href="{% url "password_reset" %}">Forgotten your password?</a>
        </div>
      </form>
    </div>
{% endif %}

{% endblock content %}