{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <p>You are already logged in</p>
{% else %}
    <div class="form-wrapper">
      <form class="for-form" action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next  }}" />
      <div class="form-p">
        <div class="social">
        <ul>
          <li class="google">
            <a class="no-deco" href="{% url "social:begin" "google-oauth2" %}"><button class="hover-btn">Login with Google</a></button>
          </li>
        <ul>
          <li class="facebook">
            <a class="no-deco" href="{% url "social:begin" "facebook" %}"><button class="hover-btn">Sign in with Facebook</a></button>
          </li>
        </ul>
      </div>
      {% for msg in messages %}
      <div class="error-div"><span>{{msg}}</span></div>
      {% endfor %}
       {{ form }}
      <button class="hover-btn" type="submit", value="Login">Login</button>
      <a class="no-deco" href="{% url "password_reset" %}">Forgotten your password?</a>
      </div>
      </form>
    </div>
{% endif %}

{% endblock content %}