{% load static %}
{% load social_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/base.css" %}?{% now "U" %}">

    <title>{% block title %}Base{% endblock title %}</title>
</head>
<body>
<div class="overall-wrapper">
    <header class="menu-btn-wrapper">
      <nav>
          <h2 class="nav-h2"><a href="{% url "home" %}">SWISSCODES</h2></a>
          {% if user.is_authenticated%}
          <div class="link-menu">
            <a class="{% if section == "home" %}is-active {% endif %}hi" href="{% url "home" %}">Home</a>
            <a class="{% if section == "dashboard" %}is-active {% endif %}hi" href="{% url "profiles:dashboard" %}">Dashboard</a>
            <a  class="{% if section == "images" %}is-active {% endif %}hi" href="{% url "images:list_view" %}">Images</a>
            <a href="#">People</a>
            <div class="logout-div">
             <a href="{% url "profiles:edit_profiles" %}">edit</a>
             <a href="{% url "password_change" %}">password</a>
            </div>
            <div class="logout-div">
              <span class="logout-span">Hi {{user.user_profile.nickname}}</span>
              <a href="{% url "logout" %}">Logout</a>
            </div>
          </div>
          <button class="burger-button">
            <span class="bar-span"></span>
            <span class="bar-span"></span>
            <span class="bar-span"></span>
          </button>

          {% else %}
            <div class="link-menu">
              <a href="{% url "accounts:login" %}" class="{% if section == "login" %}is-active {% endif %}hi">Login</a>
              <a href="{% url "accounts:signup" %}" class="{% if section == "signup" %}is-active {% endif %}hi">Sign up</a>
            </div>
            <button class="burger-button">
              <span class="bar-span"></span>
              <span class="bar-span"></span>
              <span class="bar-span"></span>
            </button>
          {% endif %}
      </nav>
    </header>


    <div class="base-wrapper">
      {% block content %}
      {% endblock content %}
    </div>

    <div class="footer-div">
      <footer class="blog-footer">© {% current_year %} – Social app ⋅ Privacy Policy</footer>
    </div>
  </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
crossorigin="anonymous">
</script>
<script src="{% static "js/base.js" %}?{% now "U" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>