{% extends 'base.html' %}

{% block title %}Welcome Social{% endblock title %}

{% block content%}
{% if request.user.is_authenticated %}
 <div class="home-msg"><h1>Welcome {{user.user_profile.nickname}}</h1></div>
 <div class="span-msg-div">
    <span class="notice-msg">
      I stopped the redis service for now so this application
      can be fully experienced when you
      refreshed on the images the count show's more count
      normally it should only increase per each user view
      but the redis service is not enabled on this server yet
      Thank you for visiting
    </span>
  </div>
  <a href="{% url "images:ranking" %}"><button class="hover-btn">Most Viewed</button></a>

  <div class="what-is-new"><h2>What's happening</h2></div>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/detail.html" %}
    {% endfor %}
  </div>

{% else %}
  <div class="home-msg"><h1>Welcome guest</h1></div>
  <a href="{% url "accounts:login" %}"><button class="hover-btn">Login</button></a>
  <p>Dont have an account? <a href="{% url "accounts:signup" %}"><button class="hover-btn">Sign up</button></a></p>
{% endif %}

{% endblock content%}