{% extends 'base.html' %}

{% block title %}Welcome Social{% endblock title %}

{% block content%}
{% if user.is_authenticated %}
 <div class="home-msg"><h1>Welcome {{user.email}}</h1></div>
  <a href="{% url "logout" %}"><button class="hover-btn">Logout</button></a>

{% else %}
  <div class="home-msg"><h1>Welcome guest</h1></div>
  <a href="{% url "accounts:login" %}"><button class="hover-btn">Login</button></a>
  <p>Dont have an account? <a href="{% url "accounts:signup" %}"><button class="hover-btn">Sign up</button></a></p>
{% endif %}

<h2>What's happening</h2>

<div id="action-list">

{% for action in actions %}

{% include "actions/detail.html" %}

{% endfor %}

</div>

{% endblock content%}